extends layout

block content
	article.brief-about
		div.left
			img.avatar(src='/avatar1.jpg')
		div.right
			p.center
				| Hi my name is Guilherme Decampo and I develop online based companies.
			p
				| The most important thing that I learned building, working and studying is that the customers give the rules. It's our job to search what they want
				| and create the best experience ever.
			p
				| Until now I have a lot of failures and a few running startups. I Spent six months of 2013 in San Franciso which I had the opportunity to
				| join a program called Startup Dream Team (Eighteen startup people from all over the world in one house), visited a lot of cool startups, joined meetups and networked with great people.
		p.above.center
			| Above you can see my current startups, works and failures!
	article
	article#project-list
		.container.clearfix
			a.navButton(href='/#profile')
				div
					p &#59170;
					h3 Profile
			a.navButton(href='/works#profile')
				div
					p &#128710;
					h3 Works
			a.navButton(href='/ideas#profile')
				div
					p &#9889;
					h3 Ideas