extends layout

block content
	article.brief-about
		p
			| The most important thing that I learned building, working and studying is that the customers give the rules. Its our job to search what they want 
			| and create the best experience ever. 
		p
			| Nowadays is all about:
		ul
			li Find the best tools 
			li Create the best analysis
			li Optimize time and afford with Pareto law 
			li Pivot 
		p
			| Besides the 
			a(href='/works#profile') marketing skills 
			|I also have a passion for building online things. To pursue this passion I've been studying how to code with javascript, HTML and CSS. 
			| During my journey I made some startups and this website(nodejs + express + jade + forever + nginx + VPS).
		p
			| I also enjoy investments and gym exercises.
		p
			| This summer (2013-USA) I got accepted in a program called Startup Dream Team in San Francisco, CA to live an awesome experience. Eighteen people from all over the world studying startups, joining meetups, developing elevator pitches and meeting VCs.
		p
			b My Tags: 
			| Startups, online marketing, growth hacking, disruptive technologies, business models, coding, investments, bodybuilding.
		h4
			| Currently I'm working at my startup that allows you to order and buy drinks through your smartphone 
			a(href='www.drinkzy.com') Drinkzy.
			br 
			| If you have doubts about marketing, customer development or distribution send me an 
			a(href='mailto:contact@guilhermedecampo.com') email 
			| I'll be glad to help you in your journey.
	.bottom
		img.avatar(src='/avatar.jpg')
		aside
			p
			b BA in Business Administration
			br
			a(href='http://www.ufla.br') Universidade Federal de Lavras
			br
			| 2012
			br
			b Startup marketer
			br
			| 2012 - Present
			br
			| Living in the awesome
			br 
			|San Francisco CA


