extends layout

block content
	article.brief-about
		div.left
			img.avatar(src='/avatar.jpg')
		div.right
			h4.center
				| Hi my name is Guilherme Decampo and I develop online based companies.
			p
				| The most important thing that I learned building, working and studying is that the customers give the rules. It's our job to search what they want
				| and create the best experience ever.
			p
				| Until now I have a lot of failures and a few running startups. I Spent six months of 2013 in San Francisco which I had the opportunity to
				| join a program called Startup Dream Team (Eighteen startup people from all over the world in one house), visited a lot of cool startups, joined meetups and networked with great people.
		h4.above.center
			| Below you can see my current startups, works and failures!
	article#project-list
		.container.clearfix
			h2 Current Startups
			a( href='http://www.sedimently.com', target="_blank")
				div.polaroid.center
					p Sedimently
					img.polar(src='/sedimently.jpg')
			a(href='http://www.getcleanio.com', target="_blank")
				div.polaroid
					p Cleanio
					img.polar(src='/cleanio.jpg')
			a(href='http://www.agraus.com.br', target="_blank")
				div.polaroid
					p Agraus
					img.polar(src='/agraus.jpg')
			a(href='http://www.meteorbrasil.com.br', target="_blank")
				div.polaroid
					p Meteor Brasil
					img.polar(src='/black.jpg')
		.container.clearfix
			h2 Work
			a(href='http://www.engarte.com', target="_blank")
				div.polaroid
					p Engarte
					img.polar(src='/engarte.png')
			a(href='http://www.apon.com', target="_blank")
				div.polaroid
					p Apon
					img.polar(src='/apon.png')
			a(href='http://www.tbit.com.br', target="_blank")
				div.polaroid
					p Tbit
					img.polar(src='/tbit.png')
		.container.clearfix
			h2 Failed Startups
			a(href='/')
				div.polaroid
					p VaiqueVende
					img.polar(src='/vaiquevende.jpg')
			a(href='/')
				div.polaroid
					p Quantocusta
					img.polar(src='/quantocusta.jpg')














