extends layout

block content
	article.brief-about
		div.left
			img.avatar(src='/avatar.jpg')
		div.right
			h4.center
				| Hi my name is Guilherme Decampo and I develop online based companies.
			p
				| The most important thing that I learned building, working and studying is that the customers give the rules. It's our job to search what they want
				| and create the best experience ever.
			p
				| Until now I have a lot of failures and a few running startups. I Spent six months of 2013 in San Franciso which I had the opportunity to
				| join a program called Startup Dream Team (Eighteen startup people from all over the world in one house), visited a lot of cool startups, joined meetups and networked with great people.
		h4.above.center
			| Above you can see my current startups, works and failures!
	article#project-list
		.container.clearfix
			h2 Current Startups
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
		.container.clearfix
			h2 Work
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
		.container.clearfix
			h2 Failed Startups
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')
			a(href='/#profile')
				div.polaroid
					p Profile
					img.polar(src='/avatar.jpg')















