/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; font-family: 'helvetica', sans-serif; }
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #477edb; color: #fff; text-shadow: none; }
::selection { background: #477edb; color: #fff; text-shadow: none; }

.center { text-align: center;}
/* =============================================================================
   Links
   ========================================================================== */

a { color: #5f5f5f; text-decoration: none; -webkit-transition:color 0.2s linear; -moz-transition:color 0.2s linear; }

a:visited { color: #5f5f5f; }

a:hover { color: #477edb; -webkit-transition:color 0.2s linear; -moz-transition:color 0.2s linear; }

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

@font-face {
    font-family: 'entypo';
    src: url('font/entypo.eot');
    src: url('font/entypo.eot?#iefix') format('embedded-opentype'),
         url('font/entypo.woff') format('woff'),
         url('font/entypo.ttf') format('truetype'),
         url('font/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'entypo-social';
    src: url('font/entypo-social.eot');
    src: url('font/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('font/entypo-social.woff') format('woff'),
         url('font/entypo-social.ttf') format('truetype'),
         url('font/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;

}

p{ padding:0; font-size:1.1em; line-height:1.6em;}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


/* =============================================================================
   Main
   ========================================================================== */

header				      { height:80px; width:100%; background:#fff; overflow:hidden; }
.main-name			    { font-family: 'kaushan-script'; font-weight:800; font-size:2.3em; letter-spacing:0.1em; height:40px; line-height:40px;  margin:auto; height:40px; text-align: center;}
.main-name a 		 	  { color:#000; }
.main-name a:hover 	{ color:#477edb; }
article 			      { width:100%; position: inherit; display: block; }
article p			      { margin-bottom:25px; }
.container			    { margin:0 auto; padding:20px; max-width:1200px; }
header .container	 	{ max-width:1200px; }
footer .container	 	{ max-width:1200px; }

/* =============================================================================
   Main - Intro
   ========================================================================== */

#intro               { padding-top:100px; width:100%; padding-bottom:40px; font-family: 'entypo'; background-image: url('/teste.png'); background-repeat: no-repeat; background-attachment: scroll; background-position: center center; background-clip: border-box; background-origin: padding-box; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-color:#c0c0c0;}
#intro h1			       { max-width:600px; margin:0 auto; text-align:center; font-weight:400; font-size:2.1em; letter-spacing:0.1em; padding: 0 20px 0 20px; color:#fff; text-shadow: #000 0.1em 0.1em 0.2em; }
#intro .more h5		   { text-align:center; line-height:30px; color:#fff; margin-top:30px;  font-size:4.5em; }
#intro .more h5:hover{ color:#477edb; }


/* =============================================================================
   Main - Project List
   ========================================================================== */

#project-list				{ margin:0 auto; font-family: 'entypo'; }
#project-list .container { margin-top: 15px; }

#project-list h3 			{
  display:block;
  margin-top:0;
  color: rgb(92, 92, 92);
  text-shadow: 1px 2px 5px #000;
  text-align:center;
  line-height:25px;
  font-weight:400;
  -moz-transition:color 0.2s linear;
  -webkit-transition:color 0.2s linear;
}

#project-list h3:hover 	{ -moz-transition:color 0.2s linear; -webkit-transition:color 0.2s linear; }
#project-list p          { text-align:center; color:black; margin: 0; padding-top: 10px; height: 35px;}
#project-list a {
  display: block;
  float: left;
  margin: 0;
  position: relative;
  vertical-align: top;
  width:25%;
  margin-bottom: 10px;
}


.navButton > div {
  border-radius: 50%;
  width: 130px;
  margin: 0 auto;
  height: 130px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  box-shadow: inset 0px 0px 11px -1px black;
  background: #ccc;
}

.navButton:hover > div {
  border-radius: 50%;
  width: 130px;
  margin: 0 auto;
  height: 130px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  box-shadow: inset 0px 0px 11px -1px black;
  background: #477edb;
}


.second-image {
  height: 200px;
  width:  400px;
  text-align: left;
}

/* =============================================================================
   Main - Profile
   ========================================================================== */

#profile 		{ font-size:1.15em; line-height:1.6em; font-weight:400; }
.brief-about{ font-weight:500; font-size:1.3em;padding-top:50px;width:100%; }
aside       { text-align: right; }
aside p     { font-size:1em; text-align: right; float: left; margin-top: 100px;}
aside a			{ color:#000; }
.avatar     { text-align: left; float: left;border-radius: 50%; margin-right: 30px;}
.above {margin-top: 50px;}

/* =============================================================================
   Work - part
   ========================================================================== */
.work        { text-align: center; }
.infografic  { width:80%; }

/* =============================================================================
   Idea - part
   ========================================================================== */

.idea    { text-align: center;border-radius: 20%;  }

/* =============================================================================
   Main - Footer
   ========================================================================== */

footer a		{ font-family: 'entypo-social'; color: #000;}
footer ul 		{ padding:0; text-align:center; margin:0 auto; }
footer li 		{ display:inline-block; margin-right:15px; }
footer li a 		{ padding:5px; font-size:5.5em; }
footer li:last-child 	{ margin:0; }
#end			{ float:left; margin-top:10px; padding-bottom:25px; width:100%; }
#email { text-align: center; font-size: 1.5em; }

/* =============================================================================
   Project Page
   ========================================================================== */

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 545px) {
  /* Style adjustments for viewports 480px and over go here */
  #project-list a { width:100%; }
  .main-name      { font-size: 2em; }
  .avatar     { width: 150px; height: 150px;}
  #email {  font-size: 1em; }
}

@media only screen and (min-width: 545px) {
  .avatar     { width: 350px; height: 350px; }

}

@media only screen and (min-width: 1050px) {
  .avatar     { width: 350px; height: 350px; }

}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



.polaroid {
  position: relative;
  width: 220px;
}

.polaroid img {
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px 1px #777;
     -moz-box-shadow: 3px 3px 3px 1px #777;
          box-shadow: 3px 3px 3px 1px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #000;
  font-size: 18px;
  font-family: 'kaushan-script';
}

.polar {
  width:100%;
}


.no {
  background-color:rgba(0,0,0,0.2);
  height: 30px;
}




